@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased font-sans selection:bg-primary selection:text-white;
    background-image:
      radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 25%),
      radial-gradient(circle at 85% 30%, rgba(168, 85, 247, 0.15) 0%, transparent 25%);
    min-height: 100vh;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/5 hover:bg-white/10 transition-all duration-300;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #020617;
  /* Gelap (Hitam) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  /* Abu gelap */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}